/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
/public/fonts/vendor/*
/public/images/vendor/*
/public/js/*
/public/css/*
/public/fonts/*

resources/semantic/dist/components
resources/semantic/dist/themes/*
!resources/semantic/dist/*.js
!resources/semantic/dist/*.css
!resources/semantic/dist/themes/default/
